@import "bootstrap";

.masthead{
	height: 500px;
	background-color: #f7f7f7;
	background-size: 100%;
	backdrop-filter: grayscale(0.5);
}

.map-button{
	position: absolute;
	left: 1%;
	top: 10px;
}

.map-button:nth-child(2){
	position: absolute;
	left: 6%;
	top: 10px;
}

.form-inline .form-control{
	width: 100% !important;
}

.form-inline{
	display: block!important;
}

.marker {
  background-image: url('mapbox-icon.png');
  background-size: cover;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-marker{
	background-color: blue!important;
}