@import "bootstrap";

.masthead{
	height: 500px;
	background-color: #f7f7f7;
	background-size: 100%;
	backdrop-filter: grayscale(0.5);
}

.map-button{
	position: sticky;
	margin-top: -70px;
	margin-left: 5px;
}

.map-button:nth-child(2){
	position: sticky;
	margin-left: 5px;
}

.form-inline .form-control{
	width: 100% !important;
}

.form-inline{
	display: block!important;
}

.marker {
  border-radius: 50% 50% 50% 0;
  border: 4px solid #fff;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.marker::after {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  background-color: #fff;
}

.mapboxgl-marker{
	background-color: orange!important;
}

.pac-container {
    /* put Google geocomplete list on top of Bootstrap modal */
    z-index: 9999;
}